#textdomain wesnoth-The_Dark_Hordes_Reborn

[scenario]
    id=02_Brother_Against_Brother
    name= _ "Brother Against Brother"
    next_scenario=03_The_Skull_of_Morgorath
    map_file=02_Brother_Against_Brother.map

    {TURNS 28 26 24}
    {DAWN}
    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {DUSK}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}

    current_time=4

    {INTRO_AND_SCENARIO_MUSIC revelation.ogg vengeful.ogg}
    {EXTRA_SCENARIO_MUSIC frantic.ogg}

    [story]
        [part]
            story= _ "Not long afterwards, Gwiti began his march with an exploration of unfamiliar wastelands. With occasional showers of rain and fog, they continued on into a more hilly landscape, stopping at a point, where a face was clearly familiar to Gwiti."
        [/part]
    [/story]

    {TDHR_TRACK {JOURNEY_02_NEW}}

    [side]
        type=Dark Adept
        id="Gwiti Ha'atel"
        name= _ "Gwiti Ha'atel"
        side=1
        canrecruit=yes
        unrenamable=yes
        controller=human
        {GOLD 160 140 120}
        {INCOME 4 2 0}
        user_team_name= _ "team_name^Gwiti"
        facing=sw
        {FLAG_VARIANT undead}
    [/side]

    [side]
        type=Dark Sorcerer
        id="Nati Ha'atel"
        name= _ "Nati Ha'atel"
        profile="data/campaigns/Dead_Water/images/portraits/caladon.webp~FL(horiz)"
        side=2
        canrecruit=yes

        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_QUICK}
        [/modifications]

        [ai]
            aggression=0.6
            caution=0.2
            grouping=offensive
        [/ai]

#ifdef HARD
        recruit=Ghost,Soulless,Blood Bat,Revenant,Bone Shooter
#else
        recruit=Ghost,Walking Corpse,Vampire Bat,Skeleton,Skeleton Archer
#endif
        {GOLD 100 120 180}
        {INCOME 2 4 10}
        user_team_name= _ "team_name^Nati"
        facing=ne
        {FLAG_VARIANT undead}
    [/side]

    [event]
        name=prestart
        [objectives]
            [objective]
                condition=win
                description= _ "Defeat your brother Nati Ha'atel"
            [/objective]
            [objective]
                condition=lose
                description= _ "Death of Gwiti Ha'atel"
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]

            [note]
                description= _ "The schedule is 12 turns."
            [/note]
        [/objectives]

        [allow_recruit]
            side=1
            type=Vampire Bat,Ghoul
        [/allow_recruit]
    [/event]

    {STARTING_VILLAGES 1 4}
    {STARTING_VILLAGES 2 8}

    [event]
        name=start
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Ah, my loathsome brother, I did not think we were designed to meet again here. Look well upon the sun that is now setting, for you shall no longer live to see another in this land."
        [/message]
        [message]
            speaker="Nati Ha'atel"
            message= _ "This land, you say? Do you truly not know where we are now? Then your ignorance is even greater than I had anticipated."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "You, who were the first to betray me and run away on the battlefield at Erzen, are you really qualified to discuss about ignorance? You, foolish one, have always been nothing but an encumbrance upon me."
        [/message]
        [message]
            speaker="Nati Ha'atel"
            message= _ "Gwiti, you have only known how to look down on others since you were so young... I am going to have enough mercy to send you some small caveats."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Silence! The darkness shall always be with me, and you shall die to prove so. Now, prepare to die... again."
        [/message]
        [message]
            speaker="Nati Ha'atel"
            message= _ "Looks like our quarrel is no longer over, you shameless fool. I will fight you to resist the darkness you speak of, I have always been the strongest of the brothers. Flee from here now and prevent your scalp from becoming a trophy of my triumph."
        [/message]

        [animate_unit]
            [filter]
                id="Nati Ha'atel"
            [/filter]
            flag=attack
            hits=yes
            [primary_attack]
                range=ranged
            [/primary_attack]
        [/animate_unit]

#ifdef EASY
        {GENERIC_UNIT 2 (Skeleton Archer) 11 23}
        [+unit]
            animate=yes
        [/unit]

        {GENERIC_UNIT 2 (Skeleton Archer) 12 23}
        [+unit]
            animate=yes
        [/unit]
#else
        {GENERIC_UNIT 2 (Bone Shooter) 11 23}
        [+unit]
            animate=yes
        [/unit]

        {GENERIC_UNIT 2 (Bone Shooter) 12 23}
        [+unit]
            animate=yes
        [/unit]
#endif
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Your disgusting banter proves your weakness more than anything else!"
        [/message]
    [/event]

    [event]
        name=side 2 turn 5
        [message]
            speaker="Nati Ha'atel"
            message= _ "Your doom is almost upon your doorstep, Gwiti!"
        [/message]
        [gold]
            side=2
            {QUANTITY amount 20 40 100}
        [/gold]
    [/event]
    [event]
        name=side 1 turn 6
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "His legions are nothing more than a mishmash... My victory depends on the passage of time."
        [/message]
    [/event]

    [event]
        name=turn 9
        [message]
            speaker="Nati Ha'atel"
            message= _ "You miserable wretch, know that it is only by my mercy that you look upon the sun again, for you shall die before it sets."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "May I remind you that even as we speak, my undead legions are marching towards you?"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Nati Ha'atel"
        [/filter]
        [message]
            speaker="Nati Ha'atel"
            message= _ "My foolish brother... our doom began when we were born. You are just slightly longer-lasting in your luck."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Is that all you want to say? I will surely stay alive and take revenge against Wesnoth. You must go to the Land of the Dead and prepare to join my undead hordes."
        [/message]
        [message]
            speaker="Nati Ha'atel"
            message= _ "I curse you with the last of my strength... You shall eventually be destroyed like me and trapped in a miserable dream of the darkness."
            sound=wail-sml.wav
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id="Nati Ha'atel"
        [/filter]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "A son, loved by our parents, died so easily. I am always a winner and will not perish, Nati."
        [/message]
        [message]
            speaker=narrator
            message= _ "Gwiti... Gwiti Ha'atel."
            image=none
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "What are you? From where are you whispering to me?"
            sound=wail-long.wav
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=die
        [filter_second]
            id="Gwiti Ha'atel"
        [/filter_second]
        [message]
            speaker=second_unit
            message= _ "Anyone who stands in my way will be burned to ashes!"
        [/message]
    [/event]
    [event]
        name=attack
        [filter]
            id="Nati Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "Now you shall perish!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "I do not accept that this is the end of me! I cannot die, not yet!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
